@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

.site-header {
    background-color: $secondary-color;
    .brand-logo {
        font-size: 38px;
        font-weight: bold;
        line-height: 44px;
        padding: 15px;
        background-color: $primary-color;
        span {
            display: block;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: normal;
            line-height: 0;
        }
    }

    .navbar-nav {
        .nav-link {
            text-transform: uppercase;
        }
        .nav-link.active {
            color: $primary-color !important;
        }
    }
    .social-links {
        a {
            color: rgba(255, 255, 255, 0.55) !important;
        }
    }
}


.slideshow {
    width: 100%;
    overflow: hidden;
    img {
        max-width: 100%;
        max-height: 500px;
        height: 100%;
        object-fit: cover;
    }
}

#client-success {
    padding: 60px 0;
    .icon-holder {
        background-color: $primary-color;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .card:hover .icon-holder {
        background-color: $secondary-color;
        transition: all 0.3s;
        i {
            font-size: 40px;
            color: white;
        }
    }
}

#wise-investment {
    background-color: $color1;
    padding: 60px 0;
    img {
        height: 220px;
        object-fit: cover;
    }
}

#investment-money {
    position: relative;
    .card-height {
        height: 280px;
    }
    .top-0 {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

#brand-show {
    .brand-showcase {
        img {
            width: 150px;
            height: 120px;
        }
    }
}

#contact {
    background: url("../images/msit.jpg") no-repeat;
    display: flex;

    .contact-overlay {
        padding-top: 60px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        flex-grow: 1;
    }
    .contact-address {
        padding: 60px 0;

        .icon-holder {
            width: 70px;
            height: 70px;
            background: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 5px solid #ccc;
            margin-right: 15px;
            i {
                font-size: 30px;
                color: white;
            }
        }
    }
}

.site-footer {
    background-color: $secondary-color;
    padding: 60px 0;
}
