<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css3</title>
    <style>
      header {
        width: 100%;
        height: 300px;
        background-color: aqua;
        background-image: url(images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        text-align: center;
        color: white;
        line-height: 300px;
        font-size: 60px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Banner Image</h1>
    </header>
  </body>
</html>
