<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css3</title>
    <style>
      * {
        box-sizing: border-box;
      }
      .siderbar {
        width: 30%;
        height: 100px;
        background-color: aqua;
        float: left;
        border: 10px solid red;
      }
      .content {
        width: 70%;
        height: 100px;
        background-color: tomato;
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="siderbar"></div>
    <div class="content"></div>
  </body>
</html>
