<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex Laout</title>
    <link rel="stylesheet" href="flex.css" />
  </head>
  <body>
    <header>
      <nav>
        <a class="active" href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Services</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
      </nav>
      <div class="banner-overlay">
        <h1>Welcome to Flex Layout</h1>
        <p>Layout design by Flex Technology</p>
        <a class="btn-action-link" href="#">Get Started</a>
      </div>
    </header>
  </body>
</html>
