<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      .sidebar {
        background-color: aqua;
        width: 30%;
        height: 200px;
        float: left;
      }
      .content {
        background-color: lightblue;
        width: 70%;
        height: 200px;
        float: left;
      }
      p {
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      .footer {
        background-color: tomato;
        height: 50px;
        clear: both;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <h4>Latest Updates</h4>
      <ul>
        <li>Link 1</li>
        <li>Link 1</li>
        <li>Link 1</li>
        <li>Link 1</li>
      </ul>
    </div>
    <div class="content">
      <h1>Hello World</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, neque
        architecto quaerat laborum officiis, ipsum tenetur soluta unde
        temporibus et asperiores ipsa eius optio voluptates pariatur nesciunt
        aspernatur perferendis nemo!
      </p>
    </div>
    <div class="footer">
      <p>Company name</p>
    </div>
  </body>
</html>
