<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      div {
        width: 600px;
        height: 210px;
        background-color: pink;
      }
      img {
        width: 200px;
        float: left;
      }
      p {
        float: left;
        width: 385px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
        padding-left: 15px;
      }
    </style>
  </head>
  <body>
    <div>
      <img src="cat.PNG" alt="cat" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero qui
        debitis facilis quidem dicta eveniet numquam voluptatem consequatur
        itaque aliquid deserunt perspiciatis animi hic libero corporis, in eum
        ea dolorum. Vero qui debitis facilis quidem dicta eveniet numquam
        voluptatem consequatur itaque aliquid deserunt perspiciatis animi hic
        libero corporis, in eum ea dolorum.
      </p>
    </div>
  </body>
</html>
