<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="form.css" />
  </head>
  <body>
    <div class="row">
      <div class="col">
        <div class="login-form">
          <h3>Login</h3>
          <form>
            <div class="input-group">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="username" />
            </div>

            <div class="input-group">
              <i class="fa-solid fa-lock"></i>
              <input type="password" placeholder="password" />
            </div>

            <button>Login Now</button>
          </form>

          <div class="login-others"><strong>Login</strong> with Others</div>
          <a href="#"
            ><i class="fa-brands fa-google"></i> Login with
            <strong>Google</strong></a
          >
          <a href="#"
            ><i class="fa-brands fa-facebook-square"></i> Login with
            <strong>Facebook</strong></a
          >
        </div>
      </div>
      <div class="col bg-image"></div>
    </div>
  </body>
</html>
