* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #5e5e5e;
}

header {
  background-color: white;
  box-shadow: 0 0px 2px #e8e8e8;
  position: fixed;
  width: 100%;
  top: 0;
}
nav {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
nav .brand-logo {
  text-decoration: none;
  color: #16507b;
  float: left;
  font-size: 24px;
  padding: 20px 0;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: #16507b;
  display: block;
  padding: 23px 15px;
}

.btn-action {
  display: inline-block;
  background-color: #2487ce;
  color: white;
  border-radius: 5px;
  padding: 9px 15px;
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 300px;
}

#heroBanner {
  background-color: aquamarine;
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  padding-top: 12%;
  text-align: center;
}

#heroBanner h1 {
  font-size: 60px;
  color: #124265;
}
#heroBanner h4 {
  font-weight: 400;
  font-size: 30px;
  margin: 15px 0;
  padding-bottom: 15px;
}
