* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  background-color: rgb(119, 166, 207);
  width: 300px;
  margin: 30px auto;
  padding: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  margin-bottom: 15px;
  display: block;
  width: 100%;
  padding: 5px;
}
button {
  padding: 5px 15px;
}
