:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #684df4;
  --light-blue: #e1eaff;
  --primary-color: var(--bs-purple);
  --dark-indigo: #141d38;
  --text: #848896;
  --banner-color: #f0f4ff;
}

body {
  color: var(--text);
}
/* override */
.text-primary {
  color: var(--primary-color) !important;
}
.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-primary:hover {
  background-color: #5b41de !important;
}

/* custom class */
.cw-50 {
  width: 50px !important;
}
.ch-50 {
  height: 50px !important;
}
/* header */
.top-header {
  background-color: var(--bs-purple);
}

/* navigation */
#primaryNav {
  background-color: var(--light-blue);
}

/* banner */
.banner {
  background-color: var(--banner-color);
}
.banner h1 {
  font-size: 60px;
  font-weight: bold;
  color: var(--dark-indigo);
}

.banner .btn-play {
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .btn-play i {
  color: white;
}
.banner .play-action-text a {
  color: #141d38;
}
.banner .play-action-text a span {
  color: var(--text);
}
